
.vs/
.vs/DM2212_Physics
.vs/DM2212_Physics/v16/.suo
*.db
*.ipch
.vs/DM2212_Physics/v16/.suo
.vs/DM2212_Physics/v16/.suo
*.db
.vs/DM2212_Physics/v16/Browse.VC.db
.vs/DM2212_Physics/v16/.suo
Physics/Debug/Physics.exe.recipe
.vs/DM2212_Physics/v16/.suo
.vs/DM2212_Physics/v16/Browse.VC.db
